@font-face{
    font-family: dm-sans;
    src: url(../fonts/DMSans-VariableFont_opsz\,wght.ttf);
}
@font-face{
    font-family: playfair;
    src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
}
